@import '../vars.scss';

.topbar {
    background: $backgroundBlack;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 $gapY;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}